.service-card::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
     width: 100%;
    height: 84%;
    background: linear-gradient(to bottom, rgba(16, 153, 233, 0.5), rgba(248, 9, 120, 0.5) );
    z-index: 3;
    transition: 0.5s all;
    opacity: 0;

}
.service-card:hover::before{
    opacity: 1;
    transition: 0.5s ease-in-out;
}
.service-card:hover {
    position: relative;
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    transform: translateY(20px);
}
.service-card img:hover {
    transform: scale(20px);
}